__pycache__/
*.egg-info/
dependencies.log
.idea/*
*.DS_Store
# place things that shouldn't be committed in a folder called scratch
*/scratch/*
data_model_tests
tests/localdata
src/pyso/marketmodels/tso_config.json
src/pyso/marketmodels/data
.vscode
.pytest_cache
.coverage
coverage.xml
junit.xml
htmlcov/
